body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.app .toggle-view {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app .date-dropdown {
  margin-bottom: 20px;
}

.branding {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(84, 84, 244);
  text-decoration: underline;
  text-decoration-color: black;
}